<!DOCTYPE html>
<html lang="en">
<head>
    <h3 style= "text-align:center; color:blue;"><i>Book a call</i></h3>
    <h5 style= "text-align:center;">Book a call slot and ourrepersentative
       will call you within 1hr of selected time</h5>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
     <header class="main-header">
      <nav class="main-header__nav">
          
          <ul class="main-header__item-list">
            </ul>
      </nav>
   </header> 
   <main>
    <form class="login-form" action="/contactus" method="POST">
      <div class="form-control"> 
        <lable>Name:</lable>
        <br/>
        <input type="text" name="username" />
        <br/>
        <lable>Email:</lable>
        <br/>
        <input type="email" name="email" />
        <br/>
        <button style="background-color:orange;">GET A CALL</button>
      </div> 
    </form>
    <main>
</body>
</html>
