
       body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;

        }

        main{
           padding: 1rem;
        }

        .main-header{
           width: 100%;
           height: 2.5rem;
           background-color: aqua;
           padding: 0 1.5rem;

        }
        .main-header__nav{
           height: 100%;
           display: flex;
           align-items: center;
        }
        .main-header__item-list{
           list-style: none;
           margin: 0;
           padding: 0;
           display: flex;
        }
        .main-header__item{
           margin: 0  1rem;
           padding: 0;
        }
        .main-header__item a{
           text-decoration: none ;
           color: black;

        }

        .main-header__item a:hover,
        .main-header__item a:active,
        .main-header__item a.active{
           color: lightcoral;
        }

        .login-form{
           width: 20rem;
           max-width: 90%;
           margin: auto;
        }
         
        .form-control{
            margin: .5rem 0;
        }

        .form-control label,
        .form-control input{
            display: block;
            width: 100%;
        }
        .form-control input{
           border: 1px solid royalblue;
           font: inherit;
           border-radius: 2px;
        }
        button {
            font:inherit;
            border: 1px solid rgb(205, 50, 190);
            color: blueviolet;
            background: lightblue;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover,
        button:active{
           background-color: brown;
           color: white;
        }